body{
    display: flex;
    align-items: center;
justify-content: center;
height: 100vh;
transition: 3s;
}
.bodystyle{
    background-color: black;
}
.container{
border-radius: 20px;
height: 40px;
width: 150px;
border: 1px solid gray;
display: flex;
align-items: center;
}
.box{
    height: 100%;
    width: 27%;
    border-radius: 50px;
    border: 1px solid black;
    transition: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.boxactive{
margin-left: 109px;
background-color: white;
}
.bi{
    color: gold;
    transition: 3s;
}